

/* Rounded corners*/
.account-side-bar, .search-bar, .white-rounded-buttons, .green-rounded-buttons, .special-rounded-button{
    -fx-border-radius: 30px;
    -fx-background-radius: 40px;
}
/* Black full border */
.account-side-bar, .search-bar{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

/* Hand icon */
.white-rounded-buttons, #account-side-bar-button, .green-rounded-buttons, #logo, #clickable-main-view, .white-button, .special-rounded-button, .button, .plus-minus-button{
    -fx-cursor: hand;
}
/*Logo color */
#logo{
    -fx-fill: #000000;
}
#logo:hover{
    -fx-fill: #191919;
}
#logo:pressed{
    -fx-fill: #323232;
}


#account-side-bar-button{
    -fx-border-color : black;
    -fx-border-width: 2px 0 2px 0;
    -fx-border-style: solid;
}

.accountPage{
    -fx-background-color: #CDCDCD;
}

.chattBubbla{
    -fx-border-radius: 10 10 10 0;
}

.titled-pane{
    -fx-font-size: 30px;
}

.titled-pane > .content > * {
    -fx-padding: 0px;
    -fx-font-size: 15px;
}



/* Pay button */
.special-rounded-button{
    -fx-background-color: #FFC327;
}
.special-rounded-button:hover{
    -fx-background-color: #e5af23;
}
.special-rounded-button:pressed{
    -fx-background-color: #cc9c1f;
}
/* Green background */
.green-rounded-buttons, .top-bar, .plus-minus-button{
    -fx-background-color: #A2D085;
}

.green-rounded-buttons:hover, .plus-minus-button:hover{
    -fx-background-color: #91BB77;
}
.green-rounded-buttons:pressed, .plus-minus-button:pressed{
    -fx-background-color: #81A66A;
}


/* White background */
.account-side-bar, .search-bar, .white-rounded-buttons, .white-button{
    -fx-background-color : #ffffff;
}
.white-rounded-buttons:hover, .white-button:hover{
    -fx-background-color : #e5e5e5;
}
.white-rounded-buttons:pressed, .white-button:pressed{
    -fx-background-color : #cccccc;
}
.plus-minus-button{
    -fx-background-radius: 10;
}

#minusButton{
    -fx-background-color: #bfbfbf;
}
#minusButton:hover {
    -fx-background-color: #b3b3b3;
}
#minusButton:pressed{
    -fx-background-color: #a6a6a6;
}



